Data Collection
In this phase we will collect the customer ratings data from the airline quality website called Skytrax. We will collect data about airline ratings, seat ratings and lounge experience ratings from this website

In [6]:
#imports 

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [7]:
#create an empty list to collect all reviews and collect rating stars and  country the reviewer is from and empty list to collect date
reviews  = []
stars = []
date = []
country = []

In [8]:
for i in range(1, 50):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 33
Error on page 35
Error on page 35
Error on page 37
Error on page 38

In [9]:
#check the length of total reviews extracted
print('total reviews :', len(reviews))
print('countries : ' , len(country))

total reviews : 3861
countries :  3861

In [12]:
#Check the lengths of the lists

print(len(reviews), len(stars), len(date), len(country))

3861 3910 3861 3861

In [14]:
#Truncate lists to the shortest length
min_length = min(len(reviews), len(stars), len(date), len(country))

reviews = reviews[:min_length]
stars = stars[:min_length]
date = date[:min_length]
country = country[:min_length]

In [15]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [16]:
df.head(10)  # Displays the first 10 rows

,reviews,stars,date,country
0,Not Verified | My wife and I are very disappo...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,13th September 2024,United States
1,Not Verified | We flew BA between Heathrow an...,1,13th September 2024,Australia
2,Not Verified | Absolutely disgusted with BA. ...,8,13th September 2024,United Kingdom
3,Not Verified | Took a trip to Nashville with m...,1,11th September 2024,United Kingdom
4,Not Verified | A nightmare journey courtesy o...,8,8th September 2024,United Kingdom
5,✅ Trip Verified | Absolutely atrocious. LHR-OR...,1,6th September 2024,United Kingdom
6,✅ Trip Verified | As someone who flies relentl...,1,2nd September 2024,United Kingdom
7,✅ Trip Verified | Flew with British Airways ...,4,1st September 2024,United Kingdom
8,✅ Trip Verified | Straightforward check in T...,2,30th August 2024,United Kingdom
9,Not Verified | I am beyond upset and disgusted...,8,28th August 2024,United Kingdom

In [17]:
df.shape    # Displays he dimensions of DataFrame

(3861, 4)

In [18]:

#Export the data into a csv format
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")